<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
    <link rel="stylesheet" href="/static/lib/theme-chalk/nui.min.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <script type="text/javascript" src="/static/lib/nui.min.js"></script>
    <script
      type="text/javascript"
      src="/static/js/lib/jquery@3.3.1/jquery.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/tools.js"></script>
  </head>

  <body>
    <div id="app" type="page" class="base-container">
      <h2>版本更新</h2>
    </div>

    <script>
      NUI({
        // 数据
        data: {},
        // 生命周期函数：DOM节点还没生成
        created: function () {
          // 场景： 发起初始化请求，进行和DOM无关的初始化操作
        },
        // 生命周期函数：DOM节点生成，并挂载到页面中
        mounted: function () {
          // 场景： 初始化第三方库，发起需要DOM的操作
        },
        // 响应式数据监听
        watch: {},
        // 计算属性
        computed: {
          // 场景：格式化数据、组合数据、条件判断、过滤/排序等
        },
        // 所有的函数在这里定义
        methods: {}
      });
    </script>

    <style></style>
  </body>
</html>
